# Allow access to gesture enable nodes
allow hal_evervolv_touch_default proc_touchpanel:dir search;
allow hal_evervolv_touch_default proc_touchpanel:file rw_file_perms;
